<link href="/css/city.css" rel="stylesheet">
<div class="center-box">
    <div>
        <div style="text-align: center;">
            LOGIN PAGE
        </div>
        <form method="POST" action="/city/login/post">
            <div><input name="login"/></div>
            <div><input type="password" name="password"/></div>
            <div><input type="submit" value="Login"/></div>
        </form>
        <div style="color: red"><%= query.error %></div>
        <div>
            <a href="/city/register">Register</a>
        </div>
    </div>
</div>