REGISTER PAGE
<div>
    <div>
        <form method="POST" action="/city/register/post">
            <div><input name="login"/></div>
            <div><input name="password"/></div>
            <div><input type="submit"/></div>
        </form>
        <div>
            <a href="/city/login">Login</a>
        </div>
    </div>
</div>